.profile-image-container {
    width: 100%;
    text-align: center;
    padding: 15px 10px;
    background-color: #fff;
}

.profile-image {
    width: 230px;
    margin-bottom: 10px;
    display: inline-block;
}

.profile-info-container {
    width: 100%;
    padding: 15px;
    background-color: #fff;
}